@import "./libs/reset";
@import "./libs/variables";
@import "./libs/mixins";
@import "./sous-fichiers/main";
@import "./sous-fichiers/header";
@import "./sous-fichiers/footer";

h1,
h2,
h3,
h4,
p {
  text-align: center;
  color: #333;
  font-family: "Roboto Condensed", sans-serif;
}

p {
  text-align: left;
}
