.header {
  width: 100%;
  background: linear-gradient(
    0deg,
    rgba(36, 36, 36, 1) 0%,
    rgba(99, 99, 99, 1) 49%,
    rgba(36, 36, 36, 1) 100%
  );
  padding: 15px 10px;
  @include flexMid;

  h1 {
    color: #f1f1f1;
    margin: 0;
  }
  .spacer {
    flex-grow: 1;
  }}
  .icone-header-container {
    display: flex;
    color: #f1f1f1;
    width: 25%;
    @include flexMid;
    justify-content: space-around;
  }
  .icone-header {
    text-align: right;
    font-size: clamp(16px, calc(14px + 0.6vw), 22px);
  }

  // .dnone{
  //   display: none;
  // }

