.header {
  width: 100%;
  background: linear-gradient(
    0deg,
    rgba(36, 36, 36, 1) 0%,
    rgba(99, 99, 99, 1) 49%,
    rgba(36, 36, 36, 1) 100%
  );
  padding: 15px 10px;
  @include flexMid;

  h1 {
    color: #f1f1f1;
    margin: 0;
  }
}
